body {
  font-size: 100%;
  color: white;
  background-color: rgb(19, 18, 18) ;
 margin: 0;
 padding:0;
 box-sizing: border-box;
}

.cabecalho {
  width: 100%;
  min-height:10vh;
  background-color: black;
  display: flex;
  min-height: 10vh;
  position: fixed;
  border-bottom: 1px solid rgb(44, 43, 43);
  z-index:999;
  justify-content: space-between;
  align-items:  center;
  
}

.lista{
   gap:30px;
   display: flex;
   padding: 0;
}

.lista li{
  color: white;
  font-size: 20px;
  list-style: none;
  
}

.lista a{
  text-decoration: none;
  color:white;
  

}


.lista a:hover{
  color: red;
  cursor: pointer;
}


.cabecalho h1{
  color: white;
  padding-left:20px;
  
}

.logo{
  margin-left: 20px;
  width: 5rem;
}

.btnagendar1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: red;
  border-radius: 2px;
  max-width: 10rem;
  height: 45px;
  border-radius: 7px;
  margin-right: 20px;
  border: none;
  cursor: pointer;
  color: white;
  min-width: 30vw;
}
.btnagendar1:hover{
  background-color: rgb(192, 5, 5) ; 
}

.card1 {
  display:block;
  text-align: left;
}

.card1 h1{
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 3vh;
  margin-top: 15vh
}

.card1 h1 span{
  color: red;
  display: block;
}

.card1 h2{
  font-size: 20px;
  margin-left: 3vh;
  margin-top: -3vh;
  color:rgb(205, 255, 238)

}
.butoes {
  display: block;
  text-align: center;
  
}

.btncomeca {
border: none;
width: calc(100% - 30px);
height: 40px;
background-color: red;
color: white;
border-radius: 4px;
margin-top: 1vh;
cursor: pointer;


}

.btncomeca:hover{
  background-color: rgb(192, 5, 5);
}

.btnagendar2:hover{
  background-color: white;
  color:black;
}

.btnagendar2 {
border: none;
width: calc(100% - 30px);
height: 40px;
background:none;
color: white;
border-radius: 4px;
margin-top: 1vh;
cursor: pointer;
border: solid 1px rgb(175, 173, 173);

}



.secaoback {
  padding-top: 10vh;
  background-image: url(imagens/fundooriginal.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width:100%;
  min-height: 90vh;
  
}

.card2{
  width: 100%;
  min-height: 100vh;
  background-color: rgb(19, 18, 18);
  display: block;
  text-align: center;
  margin-top: 5rem;
  font-size:20px;
}

.card2 h1 span{
 color:red;
 display: block;
}

.vantagem1{
  width: calc(100% - 70px);
  background-color: rgb(0, 0, 0);
  height: 10em;
  border: 1px solid rgb(44, 43, 43);
  border-radius: 7px;
  margin: 0 auto;
  text-align: left;
  display: block;
}

.vantagem1:hover{
  border: 1px solid red;
}

.vantagem1 img {
  width: 60px;
  height:auto;
  margin-left:5vw;
  margin-top: 3vw;
 
}
.vantagem1 h1{
  font-size: 25px;
  margin-left: 5vw;
  margin-top: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vantagem1 h2{
  margin-left: 5vw;
  font-size: 20px;
  color: rgb(175, 174, 174);

}

.vantagem2{
  width: calc(100% - 70px);
  background-color: rgb(0, 0, 0);
  height: 10em;
  border: 1px solid rgb(44, 43, 43);
  border-radius: 7px;
  margin: 0 auto;
  text-align: left;
  display: block;
  margin-top: 2rem;
}

.vantagem2:hover{
  border: solid 1px red;
}

.vantagem2 img {
  width: 60px;
  height:auto;
  margin-left:5vw;
  margin-top: 3vw;
 
}
.vantagem2 h1{
  font-size: 25px;
  margin-left: 5vw;
  margin-top: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vantagem2 h2{
  margin-left: 5vw;
  font-size: 20px;
  color: rgb(175, 174, 174);

}


.vantagem3{
  width: calc(100% - 70px);
  background-color: rgb(0, 0, 0);
  height: 10em;
  border: 1px solid rgb(44, 43, 43);
  border-radius: 7px;
  margin: 0 auto;
  text-align: left;
  display: block;
  margin-top: 2rem;
  
}

.vantagem3:hover{
  border: solid 1px red;
}


.vantagem3 h1{
  font-size: 25px;
  margin-left: 5vw;
  margin-top: 3px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vantagem3 h2{
  margin-left: 5vw;
  font-size: 20px;
  color: rgb(175, 174, 174);

}

.fa-dumbbell{
  color: rgb(155, 4, 4);
  font-size: 50px;
  margin-left:4vw;
  margin-top:10px;
}

.card3{
  background-color: rgb(0, 0, 0);
  width: 100%;
  min-height:110vh;
  margin: block;
  text-align: left;
}

.card3 h1 {
  font-size: 40px;
  padding-left:20px;
  padding-top:40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.card3 span{
  color: red;
}

.card3 h2{
  color: rgb(175, 174, 174);
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.card3 li{
  font-size: 20px;
  
}

.card3 ul li::marker{
  color:red;
  font-size: 30px;
  padding: 0px;
}
.imagens {
  display: flex;
  padding-left:20px;
  gap:20px;
  
}
.espacamento {
  padding-top: 0px;
}

.imagem1 {
  max-width:40vw;
  min-height: 40vh;
  border-radius: 40px;
  object-fit: cover;
}

.imagem2 {
  max-width:40vw;
  min-height: 40vh;
  border-radius: 40px;
  object-fit: cover;
  position:relative;
  top:50px;
  z-index:0;
  
}

.card4 {
  background-color: rgb(19, 18, 18);
  width:100%;
  min-height:100%;
  display: block;
  text-align: center;
}

.card4 h1{
  font-size:45px;

}

.card4 span{
  color:red;

}


.plano {
  background-color: rgb(0, 0, 0);
   border: 1px solid rgb(44, 43, 43);
  border-radius: 7px; 
  width: calc(100% - 100px);
  margin:0 auto;
  min-height: 35vh;
  text-align: left;
  padding-left: 40px;
  display: block;
  margin-bottom: 30px;
  position:relative;
}

.plano h1 {
  font-size: 30px;
  
}

.plano h2 {
  font-size: 50px;
  margin:0;
}

.plano span {
  color: rgb(109, 109, 109);
  font-size: 20px;
}

.coluna {
  display: flex;
  flex-direction: column;
  
  
}

.check{
  display: flex;
  margin: 0;
  
}

.fa-circle-check {
  margin-top:13px;
}

.plano p{
  font-size:15px;
  color: rgb(138, 137, 137);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;
 margin: 0;


}



.plano:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.planobtn {
  background-color: rgb(34, 33, 33);
  font-size:20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 11em;
  height:2em;
  border: none;
  border-radius: 5px;
  color: white;
  display: block;
  margin: 0 auto;
  transform: translatex(-30px);
  margin-top:20px;
  align-items: center;
  }

  .planobtn:hover{
  background-color: rgb(48, 47, 47);
  cursor:pointer;
  }

  .planobtnPopular {
  background-color: rgb(155, 4, 4);
  font-size:20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 11em;
  height:2em;
  border: none;
  border-radius: 5px;
  color: white;
  display: block;
  margin: 0 auto;
  transform: translatex(-30px);
  margin-top:20px;
  align-items: center;
  }

  .planobtnPopular:hover {
    cursor:pointer;
    background-color: rgb(138, 3, 3);
  }
   
  .planodiferente {
    position:relative;
  background-color: rgb(0, 0, 0);
   border: 2px solid rgb(155, 4, 4);
  border-radius: 7px; 
  width: calc(100% - 100px);
  margin:0 auto;
  min-height: 35vh;
  text-align: left;
  padding-left: 40px;
  display: block;
  margin-bottom: 30px;
}

.planodiferente h1 {
  font-size: 30px;
  
}

.planodiferente h2 {
  font-size: 50px;
  margin:0;
}

.planodiferente span {
  color: rgb(109, 109, 109);
  font-size: 20px;
}



.planodiferente p{
  font-size:15px;
  color: rgb(138, 137, 137);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;
  margin:0;

}

.planodiferente:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.badge {
   position: absolute;
   top:0;
   left: 50%;
   transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgb(155, 4, 4);
  color:rgb(255, 255, 255);
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: bold;
  font-size:14px;
}

.btnagendar1 a {
  text-decoration: none;
  color:white;
}

.btnagendar1 a:visited{
  color: white;
  text-decoration: none;
}

.card5 {
  background-color: rgb(0, 0, 0);
  width:100%;
  height:60vh;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top:50px;
}



.CardVisita{
  background-image: linear-gradient(to bottom right, red, rgb(78, 1, 1));
 border-radius: 20px; 
  width: 60vw;
  min-height:50vh;
  text-align: center;
  padding:20px ;
  display: block;
}

.CardVisita h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  
}

.CardVisita p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(182, 182, 182);
  font-size: 20px;
}

.botao5 {
  border-radius: 5px;
  border: none;
  width: 12rem;
  height: 10vh;
  font-weight: bold;
  margin-top: 20px;

}

.botao5:hover {
 background-color: rgb(231, 230, 230);
}

.botao5:active {
  border: 1px solid black;
}

.rodapéft {
  background-color: rgb(19, 18, 18);
  width: 100%;
  height: 55vh;
  border-top: solid 1px rgb(69, 69, 69);  padding-left: 20px;
  text-align: left;
  padding-top: 20px ;
  box-sizing: border-box;
}

.tituloimagem{
  display: flex;
  gap:10px;
}

.tituloimagem img{
  width: 40px;
  height: 40px;
  margin-top: 10px;
}


.colunas h3{
  font-size:20px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  margin-top:20px;
}

.transform{
    color:rgb(182, 182, 182);
   font-size: 20px;
   margin: 0;
}

.colunas p{
  margin: 0;
  padding: 0;
  color:rgb(182, 182, 182);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}


.copy {
  text-align: center;
  border-top: 1px solid rgb(69, 69, 69);
  width: calc(100% - 40px);
  padding: 10px;
  font-size: 20px;
  color:rgb(182, 182, 182) ;
  font-family:Georgia, 'Times New Roman', Times, serif ;
  margin-bottom: 0;
}

/** media lugar**/

@media(min-width:768px){
  .card1 h1{
  font-size: 90px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 3vh;
  margin-top: 10vh
}

.btnagendar1{
  
  background-color: red;
  border-radius: 2px;
  max-width: 40rem;
  height: 45px;
  border-radius: 7px;
  margin-right: 20px;
  border: none;
  cursor: pointer;
  color: white;
  min-width: 10rem;
}

.butoes {
  display: flex;
  text-align: left;
  gap: 15px;
  width: 40vw;
  margin-left: 3vw;
}

.card1 h2{
  padding-bottom: 20px;
}

.btnagendar2 {
border: none;
width: calc(100% - 30px);
height: 55px;
background:none;
color: white;
border-radius: 4px;
margin-top: 1vh;
cursor: pointer;
border: solid 3px rgb(255, 255, 255);

}

.btncomeca {
border: none;
width: calc(100% - 30px);
height: 55px;
background-color: red;
color: white;
border-radius: 4px;
margin-top: 1vh;
cursor: pointer;

}



.card1 h2 span{
  display: block;
  
}



.card2{
  width: 100%;
  min-height: 50vh;
  background-color: rgb(19, 18, 18);
  display: block;
  text-align: left;
  margin-top: 5rem;
  font-size:20px;
}

.card2 h1{
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top:-3vh;
  gap:7px;
}

.vantagens {
  display: flex;
  justify-content: space-between;
  gap:20px;
  padding:20px;
}

.vantagem1, .vantagem2, .vantagem3{
  min-width: 10vw;
  min-height: 30vh;
 margin:0;
}

.vantagem1:hover, .vantagem2:hover, .vantagem3:hover{
  border: 1px solid red;
}

.vantagem1 img, .vantagem2 img {
  width: 60px;
  display: flex;
  justify-content: left;
  margin: 0;
  padding:20px;
}
.vantagem1 h1, .vantagem2 h1, .vantagem3 h1{
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  text-align: left;
  margin:0px;
  padding-left:20px;
  
}

.vantagem1 h2, .vantagem2 h2, .vantagem3 h2{
  font-size: 20px;
  color: rgb(175, 174, 174);
    display: block;
  text-align: left;
  margin:0px;
  padding-left:20px;
  padding-top:10px;
}

.fa-dumbbell{
  color: rgb(155, 4, 4);
  font-size: 60px;
  display: flex;
  justify-content: left;
  margin: 0;
  padding:20px;
}

.card3{
  background-color: rgb(0, 0, 0);
  width: 100%;
  min-height:50vh;
  margin: block;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ambiente {
  padding: 20px;
}

.card3 h1 {
  font-size: 45px;
  padding-left:40px;
  padding-top:40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top:0;
}

.card3 span{
  color: red;
}

.card3 h2{
  color: rgb(175, 174, 174);
  font-size: 20px;
  padding-left: 40px;
  padding-right: 20px;
}

.card3 li{
  font-size: 20px;
  
}

.card3 ul li::marker{
  color:red;
  font-size: 30px;
  padding: 0px;
}
.imagens {
  padding-left:20px;
  gap:20px;
 display: flex;
  
}
.espacamento {
  padding-top: 0px;
}

.imagem1 {
  max-width: 20vw;
  min-height: 20vh;
  border-radius: 10px;
  
}

.imagem2 {
  max-width:20vw;
  min-height: 20vh;
  border-radius: 10px;
  margin-right: 10px;
  position:relative;
  top:70px;
  z-index:0;
}

.planogeral{
  display:flex;
  gap:20px;
  max-width: auto;
  justify-content: space-between;
  padding:20px;
  text-align: center;
  
}

.plano{
   max-width: 25vw;
  min-height: 50vh;
  margin:0;
}

.planodiferente {
  max-width: 25vw;
  min-height: 50vh;
  margin:0;
}

.planobtn, .planobtnPopular {
  width: auto;
  display: block;
  
}

.badge {
  padding: 5px 15px;
}

.card5{
  min-height: 55vh;
}

.CardVisita {
  width: 65vw;
  height: 30vw;
}

.CardVisita h1{
  font-size: 50px;
}

.CardVisita p {
  font-size: 20px;
}

.botao5 {
  width: 25vw;
  height: 6vh;
  font-size:20px;
}

.rodapé{
  display:grid;
  grid-template-columns: 1fr, 1fr 1fr 1fr;
  gap:30px;
  margin: 0;
  padding: 10px 60px 0px 60px;
  
}

.rodapéft{
  height: 20vh;
}

.grid2 {
  grid-column: 2;
  
}

.grid3 {
 grid-column: 3;
}

.grid4 {
  grid-column: 4;
}

.colunas

.colunas h3{
  margin-bottom: 10px;
}



.logoTitulo{
  
  grid-column: 1;
  margin: 0;
  padding: 0;
  
}

.logoTitulo img {
  width:40px;
  height: 40px;
}

.copy {
  text-align: center;
  margin-top:40px;
  border-top:1px solid rgb(69, 69, 69);
  padding-top:20px;
  align-items: center;
}

}


@media (max-width: 800px){
  .lista {
    display:none;
  }

}